<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
</head>
<body>
    <div id="posts">
        <h1>Make a new Post!</h1>
        <form action="/newPost" method="post">
            <label for="name">Name: <input type="text" name="name" id="name"></label>
            <label for="message">Message: <input type="text" name="message" id="message"></label>
            <input type="submit" value="Post Message">
        </form>
    </div>
    <% for(var p in allPosts){ %>
        <div>
            <h2>Name: <%= allPosts[p].name %></h2>
            <h2>Message: <%= allPosts[p].message %></h2>

        <% for(var i = 0; i < allPosts[p].comments.length; i++){ %>
            <h3>Name: <%= allPosts[p].comments[i].name %></h3>
            <h3>Comment: <%= allPosts[p].comments[i].comment %></h3>
        <% } %>
            <h2>Leave a comment:</h2>
            <form action="/newComment/<%= allPosts[p].id %>" method="post">
                <label for="name">Name: <input type="text" name="name" id="name"></label>
                <label for="comment">Comment: <input type="text" name="comment" id="comment"></label>
                <input type="submit" value="Post comment">
            </form>
        </div>
    <% } %>
</body>
</html>